In [1]:
import pandas as pd

In [12]:
datos=pd.read_csv('dasetecudor-2010_1.csv', engine='python')
datos

,Provincia,Nombre del Canton,Nombre de la Parroquia,Hombre,Mujer,Total
0,Azuay,CAMILO PONCE ENRIQUEZ,CAMILO PONCE ENRIQUEZ,9766,7638,17404
1,NaN,NaN,EL CARMEN DE PIJILI,2445,2149,4594
2,NaN,NaN,Total,12211,9787,21998
3,NaN,CHORDELEG,CHORDELEG,3241,3546,6787
4,NaN,NaN,LA UNION,867,1029,1896
5,NaN,NaN,LUIS GALARZA ORELLANA,661,833,1494
6,NaN,NaN,PRINCIPAL,597,734,1331
7,NaN,NaN,SAN MARTIN DE PUZHIO,455,614,1069
8,NaN,NaN,Total,5821,6756,12577
9,NaN,CUENCA,BAÃ‘OS,7868,8983,16851
10,NaN,NaN,CHAUCHA,617,680,1297
11,NaN,NaN,CHECA (JIDCAY),1182,1559,2741
12,NaN,NaN,CHIQUINTAD,2251,2575,4826
13,NaN,NaN,CUENCA,158365,173523,331888
14,NaN,NaN,CUMBE,2480,3066,5546
15,NaN,NaN,LLACAO,2487,2855,5342
16,NaN,NaN,MOLLETURO,3681,3485,7166
17,NaN,NaN,NULTI,2107,2217,4324
18,NaN,NaN,OCTAVIO CORDERO PALACIOS,983,1288,2271
19,NaN,NaN,PACCHA,2961,3506,6467
20,NaN,NaN,QUINGEO,3421,4029,7450
21,NaN,NaN,RICAURTE,9247,10114,19361
22,NaN,NaN,SAN JOAQUIN,3522,3933,7455
23,NaN,NaN,SANTA ANA,2472,2894,5366
24,NaN,NaN,SAYAUSI,3943,4449,8392
25,NaN,NaN,SIDCAY,1743,2221,3964
26,NaN,NaN,SININCAY,7277,8582,15859
27,NaN,NaN,TARQUI,4833,5657,10490
28,NaN,NaN,TURI,4177,4787,8964
29,NaN,NaN,VALLE,11489,12825,24314
...,...,...,...,...,...,...
1244,NaN,NaN,LUZ DE AMERICA,5690,5191,10881
1245,NaN,NaN,PUERTO LIMON,4892,4452,9344
1246,NaN,NaN,SAN JACINTO DEL BUA,6134,5584,11718
1247,NaN,NaN,SANTA MARIA DEL TOACHI,2991,2624,5615
1248,NaN,NaN,SANTO DOMINGO DE LOS COLORADOS,150428,155204,305632
1249,NaN,NaN,VALLE HERMOSO,4880,4455,9335
1250,NaN,NaN,Total,183058,184955,368013
1251,NaN,Total,NaN,183058,184955,368013
1252,Santa Elena,LIBERTAD,LA LIBERTAD,48030,47912,95942
1253,NaN,NaN,Total,48030,47912,95942
1254,NaN,SALINAS,ANCONCITO,6116,5706,11822
1255,NaN,NaN,JOSE LUIS TAMAYO,11054,11010,22064
1256,NaN,NaN,SALINAS,18266,16523,34789
1257,NaN,NaN,Total,35436,33239,68675
1258,NaN,SANTA ELENA,ATAHUALPA,1689,1843,3532
1259,NaN,NaN,CHANDUY,8337,8026,16363
1260,NaN,NaN,COLONCHE,16158,15164,31322
1261,NaN,NaN,MANGLARALTO,15200,14312,29512
1262,NaN,NaN,SAN JOSE DE ANCON,3439,3438,6877
1263,NaN,NaN,SANTA ELENA,26816,26358,53174
1264,NaN,NaN,SIMON BOLIVAR,1757,1539,3296
1265,NaN,NaN,Total,73396,70680,144076
1266,NaN,Total,NaN,156862,151831,308693
1267,Zonas No Delimitadas,EL PIEDRERO,EL PIEDRERO,3305,3019,6324
1268,NaN,NaN,Total,3305,3019,6324
1269,NaN,LAS GOLONDRINAS,LAS GOLONDRINAS,2768,2534,5302
1270,NaN,NaN,Total,2768,2534,5302
1271,NaN,MANGA DEL CURA,MANGA DEL CURA,11083,9675,20758
1272,NaN,NaN,Total,11083,9675,20758
1273,NaN,Total,NaN,17156,15228,32384

In [13]:
datos.columns

Index(['Provincia', 'Nombre del Canton', 'Nombre de la Parroquia', 'Hombre',
       'Mujer', 'Total'],
      dtype='object')

In [23]:
tabla1 = pd.read_csv('dasetecudor-2010_1.csv')

In [24]:
type(tabla1)

pandas.core.frame.DataFrame

In [26]:
tabla1[['Provincia','Nombre de la Parroquia', 'Hombre', 'Mujer','Total']]

,Provincia,Nombre de la Parroquia,Hombre,Mujer,Total
0,Azuay,CAMILO PONCE ENRIQUEZ,9766,7638,17404
1,NaN,EL CARMEN DE PIJILI,2445,2149,4594
2,NaN,Total,12211,9787,21998
3,NaN,CHORDELEG,3241,3546,6787
4,NaN,LA UNION,867,1029,1896
5,NaN,LUIS GALARZA ORELLANA,661,833,1494
6,NaN,PRINCIPAL,597,734,1331
7,NaN,SAN MARTIN DE PUZHIO,455,614,1069
8,NaN,Total,5821,6756,12577
9,NaN,BAÑOS,7868,8983,16851
10,NaN,CHAUCHA,617,680,1297
11,NaN,CHECA (JIDCAY),1182,1559,2741
12,NaN,CHIQUINTAD,2251,2575,4826
13,NaN,CUENCA,158365,173523,331888
14,NaN,CUMBE,2480,3066,5546
15,NaN,LLACAO,2487,2855,5342
16,NaN,MOLLETURO,3681,3485,7166
17,NaN,NULTI,2107,2217,4324
18,NaN,OCTAVIO CORDERO PALACIOS,983,1288,2271
19,NaN,PACCHA,2961,3506,6467
20,NaN,QUINGEO,3421,4029,7450
21,NaN,RICAURTE,9247,10114,19361
22,NaN,SAN JOAQUIN,3522,3933,7455
23,NaN,SANTA ANA,2472,2894,5366
24,NaN,SAYAUSI,3943,4449,8392
25,NaN,SIDCAY,1743,2221,3964
26,NaN,SININCAY,7277,8582,15859
27,NaN,TARQUI,4833,5657,10490
28,NaN,TURI,4177,4787,8964
29,NaN,VALLE,11489,12825,24314
...,...,...,...,...,...
1244,NaN,LUZ DE AMERICA,5690,5191,10881
1245,NaN,PUERTO LIMON,4892,4452,9344
1246,NaN,SAN JACINTO DEL BUA,6134,5584,11718
1247,NaN,SANTA MARIA DEL TOACHI,2991,2624,5615
1248,NaN,SANTO DOMINGO DE LOS COLORADOS,150428,155204,305632
1249,NaN,VALLE HERMOSO,4880,4455,9335
1250,NaN,Total,183058,184955,368013
1251,NaN,NaN,183058,184955,368013
1252,Santa Elena,LA LIBERTAD,48030,47912,95942
1253,NaN,Total,48030,47912,95942
1254,NaN,ANCONCITO,6116,5706,11822
1255,NaN,JOSE LUIS TAMAYO,11054,11010,22064
1256,NaN,SALINAS,18266,16523,34789
1257,NaN,Total,35436,33239,68675
1258,NaN,ATAHUALPA,1689,1843,3532
1259,NaN,CHANDUY,8337,8026,16363
1260,NaN,COLONCHE,16158,15164,31322
1261,NaN,MANGLARALTO,15200,14312,29512
1262,NaN,SAN JOSE DE ANCON,3439,3438,6877
1263,NaN,SANTA ELENA,26816,26358,53174
1264,NaN,SIMON BOLIVAR,1757,1539,3296
1265,NaN,Total,73396,70680,144076
1266,NaN,NaN,156862,151831,308693
1267,Zonas No Delimitadas,EL PIEDRERO,3305,3019,6324
1268,NaN,Total,3305,3019,6324
1269,NaN,LAS GOLONDRINAS,2768,2534,5302
1270,NaN,Total,2768,2534,5302
1271,NaN,MANGA DEL CURA,11083,9675,20758
1272,NaN,Total,11083,9675,20758
1273,NaN,NaN,17156,15228,32384

In [35]:
# A la vez que podemso buscar un dato en especifico
tabla1.loc[tabla1.Provincia=='Loja']

,Provincia,Nombre del Canton,Nombre de la Parroquia,Hombre,Mujer,Total
600,Loja,CALVAS,CARIAMANGA,10402,10899,21301